<div class="container">
  <div class="side-panel">
    <img
      class="profile-pic"
      src="../assets/img/Pajarito.jpg"
      alt="Foto de perfil"
    />
    <section>
      <h3 class="title-section">DATOS PERSONALES</h3>
      <p><i class="fa-solid fa-house"></i> Chone</p>
      <p><i class="fa-solid fa-phone"></i> 0000000000</p>
      <p><i class="fa-solid fa-envelope"></i> stevanvs@outlook.com</p>
    </section>
    <section>
      <h3 class="title-section">FORMACIÓN</h3>
      <p>BACHILLERATO</p>
      <p>Cinco de Mayo</p>
    </section>
    <section>
      <h3 class="title-section">IDIOMAS</h3>
      <p>Español</p>
      <p>Inglés</p>
    </section>
    <section>
      <h3 class="title-section">INTERESES</h3>
      <p>Programación</p>
      <p>Manualidades</p>
      <p>Crochet</p>
    </section>
  </div>
  <div class="header">
    <h1 class="name">Stevan Velez Solorzano</h1>
    <h4 class="ocupation">Estudiante</h4>
  </div>
  <div class="body">
    <section>
      <h3 class="title-section">PROYECTOS</h3>
      <div>
        <h4 class="title-subsection">Página Web Informativa</h4>
        <p>
          Tarea de Medio Ciclo de la materia de Desarrollo de Aplicaciones Web.
          Realizado con JavaScript.
        </p>
        <p>
          Link:
          <a href="https://github.com/StevanVS/pagina-web-informativa"
            >https://github.com/StevanVS/pagina-web-informativa.</a
          >
        </p>
      </div>
      <div>
        <h4 class="title-subsection">Correo</h4>
        <p>
          Proyecto de Fin de Ciclo de la materia de Interacción Humano
          Computador. Realizado con JavaScript.
        </p>
        <p>
          Link:
          <a href="https://github.com/StevanVS/Correo"
            >https://github.com/StevanVS/Correo.</a
          >
        </p>
      </div>
      <div>
        <h4 class="title-subsection">Lista de Tareas</h4>
        <p>
          Proyecto de Medio Ciclo de la materia de Interacción Humano
          Computador. Realizado con JavaScript.
        </p>
        <p>
          Link:
          <a href="https://github.com/StevanVS/NuevaListaTareas"
            >https://github.com/StevanVS/NuevaListaTareas.</a
          >
        </p>
      </div>
    </section>
  </div>
</div>
